<!DOCTYPE html>
<html>
<head>
  <title>Saveit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= current_user.email %>
    <p><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p><%= link_to 'PLEASE SIGN UP', new_user_registration_path %></p>
    <p><%= link_to 'PLEASE SIGN IN', new_user_session_path %></p>
  <% end %>
<%= yield %>
  

</body>
</html>
